body {
    background: url("https://images.unsplash.com/photo-1535897556528-5b435dd16dab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1054&q=80") no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: white;
    opacity: 2;
}

h1, h2 {
    font-weight: 100;
    margin: 0.4rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.5rem;
    color: #aaa;
}

@media(min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
    }
    h1 {
        font-size: 3rem;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.downarrow {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://media.giphy.com/media/8c7dI2fut2r8vpssEt/giphy.gif ') 50% 100% no-repeat;
}

