body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    height:100vh;
    background-image: url("https://i.imgur.com/mbNJkV3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

html {
    scroll-behavior: smooth;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96%;
    padding: 0 3 rem;
}

h1, h2 {
    font-weight: 100;
    margin: 0.4rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.3rem;
    color: white;
}

/* cursor */
.txt-type > .txt {
    border-right: 0.2rem solid #777;
}

@media(min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
    }
    h1 {
        font-size: 3rem;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.downarrow {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://media.giphy.com/media/8c7dI2fut2r8vpssEt/giphy.gif ') 50% 100% no-repeat;
}

.mypic {
    /* Full height */
    height: 10%; 
    width: auto;
  
    /* Center and scale the image nicely */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.mypic:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.card-text, .card-title, .card-header{
    color:black;
}

.placing {
    padding: 25px;
    
}

.kotakan {
    width: 1080px;
    padding: 10px;
    border: 0.5px solid lightgrey;
    margin: 0; 
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
}

.pls {
    color:black;
    text-align: center;
    justify-content: baseline;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
    color: #000000;
  }
  
  /* Set a specific color for each brand */
  
  /* linkedin */
  .fa-linkedin {
    color: white;
  }
  
  /* github */
  .fa-github {
    color: white;
  }

  .fa-medium {
    color: white;
  }

  .fa-gitlab {
    color: white;
  }

  .fa-instagram {
    color: white;
  }

  .fa-envelope {
    color: white;
  }