<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Puspacinantya -
        {% block title %}

        {% endblock title %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://i.imgur.com/njQ014H.png">
    {% block css %}
    
    {% endblock css %}
</head>
<body>
    <div class="container">
        <!-- <header>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" style="color: white;" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white;" href="/about/">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: white;" href="/works/">Works</a>
            </li>
        </ul>
        </header> -->
        {% block content %}
        <!--Tulis content disini-->
        {% endblock %}
        <footer>
            <h6 style="text-align:center; color:grey;">Puspacinantya © 2020</h6>
        </footer>
    </div>   
</body>

</html>