body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3 rem;
}

h1, h2 {
    font-weight: 100;
    margin: 0.4rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.5rem;
    color: #aaa;
}

/* cursor */
.txt-type > .txt {
    border-right: 0.2rem solid #777;
}

@media(min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
    }
    h1 {
        font-size: 3rem;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.downarrow {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://media.giphy.com/media/8c7dI2fut2r8vpssEt/giphy.gif ') 50% 100% no-repeat;
}

.mypic {
    /* Full height */
    height: 10%; 
    width: auto;
  
    /* Center and scale the image nicely */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.mypic:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
