{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    More about me
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock css %}

{% block content %}
        <div class="container">
            <div id="wrapper">
                <div id="section">
                    <h1 class="placing" style="text-align: center; justify-content: center;"> Educational background.</h1>
                        <div class="kotakan">
                            <p class="pls">SMAN 78 Jakarta, 2013-2017<p>
                            <p class="pls">Oakland Mills High School, 2015-2016<p>
                            <p class="pls">SMPN 134 Jakarta, 2010-2013<p>
                        </div>
                </div>

                <div id="section">
                    <h1 class="placing" style="text-align: center; justify-content: center;"> Experiences.</h1>
                        <div class="kotakan">
                            <p class="pls">PIC of Editorial Marketing, COMPFEST 11<p>
                            <p class="pls">Vice PIC of Liaison Officer, Wisuda Genap 2018<p>
                            <p class="pls">Data Entry Coordinator, Seleksi AFS 2018<p>
                        </div>
                </div>
            </div>
        </div>
        <script>
        $(document).ready(function() {
            $('#wrapper').fullpage();
        });
    </script>
{% endblock %}