{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fullpage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/fullpage.js' %}"></script>
{% endblock css %}

{% block content %}
    <div class="container" id="black">
        <div id="wrapper">
            <div class="section">
                <h1>Puspacinantya, The 
                <span class = "txt-type" data-wait="2000" data-words='["Computer Science Undergrad.", "Avid Wanderer."]'></span>
                </h1>
                <h2>A very simple interface to know me more.</h2>
                <div class="downarrow"></div>
            </div>

            <div class="section" id="revelation">
                <div class="row">
                    <div class="col"><h1 style="text-align: center; justify-content: center;">This is her.</h1></div>
                </div>
                <div class="row">
                    <div class="col" style="justify-content: center;">
                         <img src="https://i.imgur.com/3niKvAk.jpg" class="rounded-circle mypic" style="width: 70%; height:auto; margin-left: 12.5%;">
                    </div>
                    <div class="col">
                        <img src="https://i.imgur.com/vXQGh9d.jpg?1" class="rounded-circle mypic" style="width: 70%; height:auto; margin-left: 12.5%;">
                    </div>
                    <div class="col">
                        <img src="https://i.imgur.com/PJLEytB.jpg" class="rounded-circle mypic"  style="width: 70%; height:auto; margin-left: 12.5%;">
                    </div>
                </div>
                <br>
                <div class="col" style="justify-content: center;">
                    <font size="3">Puspa is a third year student of Universitas Indonesia, pursuing
                    her study in the field of Information System. She has done many things in life,
                    and She is ready for more things to achieve!</font>
                    <br>
                    <font size="2">Her interest sparks on: tech 💻, writing ✍🏼, and reading 📚.</font>
                    <br>
                    <br>
                    <font size="3">Visit her on:</font>
                    <br>
                    <a href="https://www.linkedin.com/in/puspacinantya/" class="fa fa-linkedin"></a>
                    <a href="https://medium.com/@puspacinantya/" class="fa fa-medium"></a>
                    <a href="https://github.com/puspacntya/" class="fa fa-github"></a>
                    <a href="https://gitlab.com/puspacinantya/" class="fa fa-gitlab"></a>
                    <a href="https://www.instagram.com/puspacinantya/" class="fa fa-instagram"></a>
                    <a href="mailto:puspacinantya@gmail.com" class="fa fa-envelope"></a>
                </div>
            </div>
        </div>
        
    </div>

    <script>
        $(document).ready(function() {
            $('#wrapper').fullpage();
        });
    </script>
    
{% endblock %}