{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    Message
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock css %}

{% block content %}
        <div class="container">
            <h1 style="text-align: center; justify-content: center; position: absolut;">Send your message.</h1>
            <div class="form-group">
            <div id="alertField">
                <form id="form" method="POST" action="{% url 'app:message' %}">
                    {% csrf_token %}
                    {{ savemessage }}
                    <br>
                    <br>
                    <div class="submit-btn">
                        <input id="submit" type="submit" class="btn btn-dangery" value="Submit">
                    </div>
                </form>
            </div>

            <br>
            <br>

            <a href="/msgcheck/" style="color:white;">Check out other messages HERE</a>

        </div>
     <script>
        $(document).ready(function() {
            $('#wrapper').fullpage();
        });
    </script>
    
{% endblock %}