{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    All your messages
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock css %}

{% block content %}
        <div class="container">
            <h1 style="text-align: center; justify-content: center; position: absolut;">Your Messages.</h1>
            <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Sender Name</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in table %}
                        <tr>
                            <td> {{i.name}} </td>
                            <td> {{i.message}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>

        </div>
{% endblock %}