{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
    More about me
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock css %}

{% block content %}
        <div class="container">
            <div id="wrapper">
                <div class="section"> 
                    <h1 class="placing" style="text-align: center; justify-content: center;"> My works.</h1>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Sinar Perak</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">A website</h6>
                                    <p class="card-text">Similar to crowdfunding  website in which user can login through their google
                                    and pick what program they want to donate in.</p>
                                    <a href="https://demippw.herokuapp.com/" class="card-link">See the website</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Writing Portfolio</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Writings</h6>
                                    <p class="card-text">A collection of my writings, mostly articles on COMPFEST and technologies.</p>
                                    <a href="https://www.clippings.me/puspacinantya" class="card-link">See the portfolio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        $(document).ready(function() {
            $('#wrapper').fullpage();
        });
    </script>
{% endblock %}